body {
    background-color: #292929;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#light-dark{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 1.2rem;
    padding: 1rem;
    border: 2px solid #dcdcdc7c;
    border-radius: 3px;
    display: inline-flex;
    background-color:  #383838f7;
    height: 28px;
    width: 45px;
    margin: 8px auto;
    color: rgba(220, 220, 220, 0.834);
    text-align: center;
    align-items: center;
}


.container {
    max-width: 600px;
    margin: 2rem auto;
    /* Center horizontally */
    padding: 1rem;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center text content */
}

 #rows, #cols {
    background-color: #2f2f2f;  /* Gray background */
    border-color: #969696;
    color: #ffffff;
}


/* Dark mode styles */
.matrix-box {
    background-color: #2f2f2f;
    border-color: #969696;
    color: #ffffff;
}

.katex, .katex-display {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.2rem !important;
  /*color: #495057 !important;*/
  color: #e9ecef !important;
  background-color: transparent !important;
}


/* Additional KaTeX-specific refinements */
.katex .katex-mathml {
  /* Hide MathML fallback */
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.katex .katex-html {
  /* Ensures proper alignment */
  display: inline-block;
}

/* Dark mode */
.latex-overlay {
  color: #e9ecef;
  z-index: 4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  display: flex;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
}