<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--link rel="stylesheet" href="{% static 'rref/styles.css' %}">
< this refferences the css sheet I have in static -->

    <title>{% block title %} {% endblock %} </title>
</head>
<body>
  <div class="container p-6 my-6">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-md navbar-light " style="background-color: #222323">
          <a href="/" class="navbar-brand">Home</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                  <a href="#" class="nav-item nav-link mr-5">HOME</a>
                  <a href="#" class="nav-item nav-link mr-5">ABOUT</a>
                  <a href="#" class="nav-item nav-link">MORE</a>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>


</body>
</html>