<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Input matrix</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet lets us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own js file. -->
<script src="{{ url_for('static', filename='/js/entry.js') }}"></script>


<!-- Our own css file.   Note how we can link directly here and not-->
 <!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/css/simple.css" />


</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>what dimension is your matrix?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      
      <form id="entry">
        <label for="rows">rows:</label>
        <input id="rows" name="rows" type="text" width="15"
               autocomplete="off" autofocus />

        <label for="cols" style="margin-left: 10px;">cols:</label>
        <input id="cols" name="cols" type="text" width="15"
               autocomplete="off" autofocus />


        <button type="button" id="submit" class="btn btn-default">submit</button>


        <button type="button" id="reset" class="btn btn-default"> reset </button>
        <div class="row">
          <div id="matrix" class="col-xs-12 text-center" style="margin-top: 20px;"></div>
        </div>

        <button id="toggleMode" class="btn btn-info" style="display: none;">
        fraction <!-- default togglebtn starts as fractional-->
        </button>

      </form>
    </div>
  </div>



 </div> <!-- container -->
</body> </html>